@using PagedList.Mvc;
@model YoyoTournaments.WebClient.Models.DivisionDetailsViewModel

@{
    ViewBag.Title = "Division";
}

<h2>Division @Model.DivisionType.Name</h2>

@if (User.Identity.IsAuthenticated)
{
    @(Html.ActionLink("Sign In", "SignIn", new { divisionId = Model.Id }, new { @class = "btn btn-success" }));
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DivisionType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DivisionType.Name)
        </dd>
    </dl>
</div>
<hr />
@foreach (var user in Model.Users)
{
    @Html.DisplayFor(modelItem => user.FirstName);
}
<div>
    @Html.PagedListPager(Model.Users, page => Url.Action("Division", new { page, pageSize = Model.Users.PageSize }))
</div>
<hr />
<p>
    @Html.ActionLink("Back to tournament", "Details/" + Model.TournamentId, new { }, new { @class = "btn btn-danger" })
</p>
